html{
    font-size: 16px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 40px 0;
    text-align: center;
}

.artist {
    color: rgb(0, 47, 167);
    font-family: Rajdhani;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 0;
    font-size: 3rem;
}

.title{
    color: #747780;
    font-weight: 400;
    margin: 0 0 24px 0;
    font-size: 1.25em;
}

.ikb{
    height: 320px;
    width: 320px;
    background-color: rgb(0, 47, 167);
    margin: 2.5em auto;
}

.info{
    font-size: 24px;
}

.location{
    font-size: 24px;
    margin: 8px 0;
}

.date{
    color: rgba(0,0,0,0.5);
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    margin: 8px 0;
}
